.holder {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.header > div > button {
    margin: 0.25rem;
}


.filters {
    grid-area: filters;
}

.total {
    grid-area: total;
}

.filters > * {
    display: inline-block;
}

.navigation {
    grid-area: navigation;
    justify-self: end;
}

.navigation > * {
    display: inline-block;
}

.transactions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.selected { 
    background-color: rgb(51, 146, 235);
    color: white;
}
